:root {
    --accent-color: #ffffff;
    --health-color: var(--accent-color);
    --ammo-color: #fff;
    --premium-color: #fbc02d;
    --verified-color: #40c4ff;
    --menu-bg-color: rgba(15, 15, 15, .2);
    --menu-bg-color-secondary: rgba(0, 0, 0, .5);
    --ingame-bg-color: rgba(15, 15, 15, .2);
    --text-transform: none;
}

/* fonts */

@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}

@font-face {
    font-family: hpammo;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}

#instructionHolder {
    backdrop-filter:blur(4px);
}

/* loader cred https://discord.gg/d86PeKQfwc */

@keyframes legacyloader {
    from {
        opacity: 0.7;
        font-size: 30px;
    }
}

#initLoader {
    background-color: transparent;
}

#initLoader > * {
    display: none;
}

#initLoader > :empty {
    opacity: 0;
}

#loadGamNm {
    display: block !important;
    left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    font-size: 0;
    width: 500px;
        height: 500px;
        line-height: 500px;
        background: black;
}

#loadGamNm::before {
    content: "CONNECTING...";
    color: rgba(255, 255, 255, 0.8);
    font-size: 32px; 
    animation: grow .8s infinite alternate;
}

#instructions > *[style*="transform:scale(1.4);"] {
    transform: scale(0.7) !important; 
}

#instructions > * > .lds-ring {
    width: unset;
    height: unset;
}

#instructions > * > .lds-ring > * {
    display: none;
}

#instructions > * > .lds-ring::before {
    content: "LOADING...";
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.8);
    transform: translate(-50%,-75%);
    font-size: 32px; 
    animation: legacyloader .8s infinite alternate;
}

/* icons colour */

.material-icons {
    font-family: 'Material Icons';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
}

.material-icons[style*="color:#FBC02D"] {
    color: var(--verified-color) !important;
}

.material-icons[style*="color:#FBC02D"] {
    color: var(--premium-color) !important;
}

.button, .button:hover { 
    border: hidden ! important;
}

/* custom leaderboard clan name and rainbow cred: knuspie, fountain nightfall */

.leaderNameM::after {
    content: " [thad]";
    animation: rainbow .5s linear infinite;
}
.leaderNameM span {
    display: none;
}
.endTableN[style="color:#fff"]::after {
    content: " [thad]";
    animation: rainbow .5s linear infinite;
}
.endTableN[style="color:#fff"] span {
    display: none;
}


[style="transform: scale(1);"] {
    transform: scale(1)!important;
}
[style="transform: scale(0);"] {
    transform: scale(1)!important;
}

/* leaderboard verification */

.endTableN[style="color:#fff"]::before {
    font-family: 'Material Icons'; 
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    content: "check_circle";
    color: #40C4FF;
    margin-top: -3px;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: -4px;
}

.leaderNameM::before { 
    font-family: 'Material Icons'; 
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    content: "check_circle";
    color: #40C4FF;
    margin-top: -3px;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: -4px;
}

/* rainbow level */

.menuClassLevelBox {
    -webkit-animation: rainbowT .5s linear infinite;
    animation: rainbowT .5s linear infinite
}

#mLevelContV {
    -webkit-animation: rainbowT .5s linear infinite;
    animation: rainbowT .5s linear infinite
}

/* menu verification and rainbow clan */

.menuClassPlayerClan::after {
    visibility: visible;
    font-family : 'Material Icons';
	font-weight : normal;
	font-style : normal;
	font-size : 23px;
	line-height : 1;
	letter-spacing : normal;
	text-transform : none;
	display : inline-block;
	white-space : nowrap;
	overflow-wrap : normal;
	direction : ltr;
	content : "check_circle";
	margin-top : -5.4px;
	vertical-align : middle;
	margin-right : 3px;
	margin-left : 9px;
	color: #40C4FF;
}

.menuClassPlayerClan {
    -webkit-animation: rainbowT .5s linear infinite;
    animation: rainbowT .5s linear infinite
    margin-top: -120px;
    text-shadow: none;
    vertical-align: middle;
    margin-right: 3px
}

/* timer */

#timerIcon {
	display: none;
}

/*Health*/
#healthBar {
    width: 280px;
    height: 23px;
    display: inline-flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 0;
    position: fixed;
    left: calc(50% - 140px);
    bottom: 40px;
    outline: 6px solid var(--hp-ammo);
}

.healthBarSeg {
    width: -webkit-fill-available;
    margin: 0 -1px;
    border-radius: 0;
    background-color: transparent;
}

.hpBSeg {
    border-radius: 0;
    box-shadow: none;
}

.hpBSeg[style*="#cd3732"] {
    background-color: var(--accent) !important;
}

/*Ammo cred yuki css*/

#ammoDisplay {
    transform: unset;
    background-color: transparent;
    position: fixed;
    left: calc(50% - 2000px);
    bottom: calc(50% - 2000px);
    height: 8px;
    width: 80px;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(var(--accent), var(--accent));
}

#ammoVal {
    color: white;
    font-size: 70px;
    display: inline-block;
    position: fixed;
    left: calc(50% + 180px);
    bottom: 20px;
    text-shadow: 12px 6px var(--accent);
    filter: drop-shadow(2px 2px var(--accent)) drop-shadow(-2px -2px var(--accent)) drop-shadow(-2px 2px var(--accent)) drop-shadow(2px -2px var(--accent));
}

#ammoMax {
    display: none;
}

#ammoIcon {
    display: none;
}

#reloadMsg {
    display: none;
}

#hudClassImg {
display: none;
}

#hudClassIcon {
display: none;
}

#healthValue {
display: none;
}

#challIcon {
display: none;
}

#healthValueHolder {
display: none;
}

.weapItem {
display: none;
}

/*chat cred MOF1*/


.chatItem {
  font-family: var(--mainFont);
  font-size: 20px;
  padding-right: 5px;
  background: transparent !important;
  max-width: 265px;
}

.chatItem span {
  font-family: var(--subFont);
  font-size: 22px;
  background: transparent !important;
}

.chatItem span[style="color:#fc03ec"] {
  color: #ff73b5 !important;
}

#chatHolder {
  position: absolute;
  z-index: 1000;
  width: 300px;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 300px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(black), to(black));
  -webkit-mask-image: linear-gradient(to bottom, transparent, black, black);
          mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(black), to(black));
          mask-image: linear-gradient(to bottom, transparent, black, black);
}

#chatHolder #chatList {
  background: transparent;
}

#chatHolder #chatList::-webkit-scrollbar-thumb {
  background: var(--c_whiteST);
}

#chatHolder #chatList::-webkit-scrollbar-track {
  background-color: transparent;
}

#chatInputHolder {
  width: 100%;
  padding: 6px;
  padding-left: unset;
  margin-top: 6px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  border: unset;
  pointer-events: all;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chatInputHolder:not(:last-child) {
  margin-right: 0.5rem;
}

#chatSwitchHolder {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

#chatInput {
  margin-left: 0px;
  width: 100%;
  margin: 0;
  background: transparent !important;
  border: 0;
  padding: 0px;
  padding-bottom: 5px;
  font-family: var(--subFont);
  font-size: 22px !important;
  color: var(--c_white) !important;
}

#uiBase.onGame #chatHolder {
    left: 20px;
    bottom: 16px
}

/* remove unranked badges, kr to $ cred https://discord.gg/d86PeKQfwc */

.leaderItem img[src='./img/ranked/rnk_0.svg'], .newLeaderItem img[src='./img/ranked/rnk_0.svg'] {
    display:none;
}

#menuKRCount > span {
  display: none
}

#menuKRCount:before {
    content:'$';
    color: #69cd4d
}

/* menu css cred reizu xcirno css */

a {
    color: var(--accent-color);
}

a:active {
    color: var(--accent-color);
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: #fff;
    text-decoration: none;
}


#aHolder {
    display: none !important;
}

.endAHolder {
    display: none !important;
}

#mainLogo {
    display: none !important;
}

#streamContainer {
    display: none !important;
}

#merchImg {
    display: none;
}

#ot-sdk-btn-floating.ot-floating-button {
	display: none !important;
}

#seasonLabel {
    display: none !important;
}

#newsHolder {
	display: none;
	background-color: var(--menu-bg-color);
    border-radius: 0;
}

.youNewDiv {
    opacity: 0
}

#updateAdIcon {
	display: none;
	background-color: var(--menu-bg-color);
    border-radius: 0;
}

#helpTxtHol {
	display: none;
	background-color: var(--menu-bg-color);
    border-radius: 0;
}

#helpTxtHol:hover {
    opacity: 0
}

.newsItem {
    color: #fff;
    border: none;
}

.newsItem span {
    color: #fff !important;
}

#uiBase.onMenu #spectButton {
    text-transform: var(--text-transform);
}

#claimImg {
    height: 70px;
}

#claimTimer {
    text-transform: var(--text-transform);
}

#braveWarning {
    display: none !important;
}

.button {
    background-color: transparent !important;
    color: var(--accent-color) !important;
    text-shadow: none !important;
    box-shadow: none !important;
    text-transform: var(--text-transform);
}

.button:hover {
    background-color: transparent !important;
    color: #fff !important;
    -webkit-transform: none;
    transform: none;
}

.button.small {
    font-size: 18px !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.button.small:hover {
    background-color: transparent !important;
}

.buttonPI {
    box-shadow: none !important;
}

.buttonPI:hover {
    box-shadow: none !important;
}

.buttonR {
    box-shadow: none !important;
}

.buttonR:hover {
    box-shadow: none !important;
}

.buttonP {
    box-shadow: none !important;
}

.buttonP:hover {
    box-shadow: none !important;
}

.buttonG {
    box-shadow: none !important;
}

.buttonG:hover {
    box-shadow: none !important;
}

.button.lgn {
    position: absolute;
    left: 0;
    width: max-content !important;
    padding-left: 22px !important;
    margin-left: 8px !important;
    font-size: 18px !important;
}

.button.lgn .material-icons {
    display: none;
}

#subLogoButtons {
    bottom: 50px;
    transform: translateX(-50%);
}

#menuBtnHost {
    visibility: hidden;
    font-size: 0 !important;
}

#menuBtnHost:after {
    visibility: visible;
    font-size: 18px !important;
    content: 'Host';
    text-transform: var(--text-transform);
}

#menuBtnBrowser {
    visibility: hidden;
    font-size: 0 !important;
}

#menuBtnBrowser:after {
    visibility: visible;
    font-size: 18px !important;
    content: 'Broswer';
    text-transform: var(--text-transform);
}

#menuBtnRanked {
    visibility: hidden;
    font-size: 0 !important;
}

#menuBtnRanked:after {
    visibility: visible;
    font-size: 18px !important;
    content: 'Ranked';
    text-transform: var(--text-transform);
}

#inviteButton {
    visibility: hidden;
    font-size: 0 !important;
}

#inviteButton:after {
    visibility: visible;
    font-size: 18px !important;
    content: 'Invite';
    text-transform: var(--text-transform);
}

#menuBtnJoin {
    visibility: hidden;
    font-size: 0 !important;
}

#menuBtnJoin:after {
    visibility: visible;
    font-size: 18px !important;
    content: 'Join';
    text-transform: var(--text-transform);
}

#teamSelector {
    bottom: 150px;
}

.centSwitch {
    margin-top: 0;
}

.sliderCent {
    border-radius: 0;
    background-color: var(--menu-bg-color-secondary);
}

.sliderCent:before {
    border-radius: 0;
    background-color: #fff;
}

.settText {
    color: var(--accent-color);
}

.settText:hover {
    color: #fff !important;
    text-decoration: none;
}

.settLabel {
    font-size: 18px;
}

.settLabel[style*="color:#2196F3"] {
    color: var(--accent-color) !important;
}

.wepLink {
    font-size: 18px;
}

.wepLink:hover {
    color: #fff !important;
    text-decoration: none;
}

.floatR {
    font-size: 18px;
}

.settName,
.settNameSmall {
    color: var(--accent-color);
    font-size: 18px;
    margin-top: 20px !important;
}

.settNameSmall {
    margin-top: 0 !important;
}

.b {
    color: #fff !important;
}

.setHed {
    color: #fff;
    font-size: 18px;
}

.plusOrMinus {
    font-size: 36px !important;
    margin-right: -8px !important;
}

.floatR [style*="color:rgba(0,0,0,0.5)"] {
    color: var(--accent-color) !important;
}

#infoHolder>* {
    visibility: hidden;
}

#rankedSoonTm {
    visibility: hidden;
}

#voiceDisplay {
    visibility: hidden;
}


#termsInfo {
    background-color: transparent;
}

.terms {
    visibility: hidden;
}

.terms:hover {
    visibility: hidden;
}

.menuSocialB {
    visibility: hidden;
}

.headerBarLeft {
    border-radius: 0;
    background-color: transparent;
}

.headerBarRight {
    border-radius: 0;
    background-color: transparent;
}

.verticalSeparator {
    visibility: hidden;
}

.headerBarRight .verticalSeparator {
    display: none;
}

.verticalSeparatorInline {
    visibility: hidden;
    height: 0;
}

#menuMiniProfilePic {
    display: none;
}

#menuAccountUsername {
    font-size: 16px;
    margin-left: 10px;
}

#menuKRCount {
    font-size: 16px;
}

#menuLevelIcon {
    display: none;
}

#menuLevelText {
    font-size: 16px;
    text-transform: var(--text-transform);
}

.progressBar {
    background: var(--menu-bg-color-secondary);
    border-radius: 0;
}

.progressBarInner {
    background: var(--accent-color);
    border-radius: 0;
}

#mailIcon:hover {
    opacity: 1;
    transform: none
}

#mLevelCont {
    background-color: transparent;
    text-shadow: none;
    border-bottom-right-radius: 0;
}

.menuClassPlayerPremium {
    color: var(--premium-color) !important;
}

.menuClassPlayerVerified {
    color: var(--verified-color) !important;
}

.menuClassPlayerVirus {
    display: none;
}

#menuClassSubtext {
    text-shadow: none;
    text-transform: var(--text-transform);
}

#menuClassName {
    text-shadow: none;
    text-transform: var(--text-transform);
}

#customizeButton .material-icons {
    display: none;
}

#policeButton {
    display: none;
}

.krSocial {
    display: none;
}

.imageButton {
    display: none !important;
}

#editorBtnM {
    display: none;
}

#menuRegionLabel {
    text-transform: var(--text-transform);
}

#menuFPSDisplay {
    text-transform: var(--text-transform);
}

#menuFPS {
    color: var(--accent-color) !important;
}

#menuPingIcon {
    color: var(--accent-color) !important;
}

#menuPingDisplay .material-icons {
    font-size: 16px;
}

.mailObj {
    background-color: var(--menu-bg-color-secondary);
    color: #fff;
    border-radius: 0;
}

.mailFrom {
    color: var(--accent-color);
}

.mailText {
    color: #fff;
}

.menuItem {
    align-items: center;
    background: transparent;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 22px;
}

.menuItem:hover {
    background: transparent;
    color: #fff;
    border-left: none;
}

.menuItem:active {
    background: transparent;
    color: #fff;
}

.menuItem .menuItemTitle {
    margin-top: 0;
    color: var(--accent-color) !important;
    font-size: 18px !important;
    text-transform: var(--text-transform);
    transition: all .2s;
}

.menuItem:hover .menuItemTitle {
    color: #fff !important;
}

.menuItem:active .menuItemTitle {
    color: #fff !important;
}

#menuWindow {
    max-height: calc(100% - 360px) !important;
    background-color: var(--menu-bg-color);
    box-shadow: none;
    border-radius: 0;
}

.menuTabsNew {
    border-radius: 0;
    background-color: transparent;
}

.menuTabNew {
    color: var(--accent-color);
}

.menuTabNew:hover {
    color: #fff;
    border-bottom: none !important;
}

.tabANew {
    color: #fff !important;
    border-bottom: none !important;
}

.tabANew:hover {
    border-bottom: none !important;
}

#settingsTabLayout {
    background-color: transparent !important;
    font-size: 18px;
}

.settingsBtn {
    background-color: transparent;
    color: var(--accent-color);
    font-size: 14px;
}

.settingTab:hover {
    color: #fff;
    border-bottom: none !important;
}

.menuLink {
    font-size: 18px;
}

.menuLink:hover {
    color: #fff;
    text-decoration: none;
}

#profilePicM {
    border-radius: 0;
}

.xpBar {
    height: 20px;
    background-color: var(--menu-bg-color-secondary);
    border-radius: 0;
}

.xpBarB {
    background-color: var(--accent-color);
}

.xpBarV {
    top: 7px;
}

.chalCard {
    background-color: transparent;
    text-shadow: none;
}

.chalRight {
    color: var(--accent-color);
}

.chalDesc {
    color: rgba(255, 255, 255, .5);
}

.chalXPBar {
    height: 20px;
    background-color: var(--menu-bg-color-secondary);
    border-radius: 0;
}

.chalXPBarC {
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 0;
}

.chalProg {
	top: 2px;
}

.settingsHeader {
    background-color: transparent;
    position: relative;
}

#requiresRestart {
    display: none;
}

.serverHeader {
    background-color: transparent;
    position: relative;
}

.menuSelectorHeader {
    font-size: 18px;
}

.menuSelector {
    font-size: 18px;
}

#serverSearch,
#settSearch {
    background-color: var(--menu-bg-color-secondary);
    font-size: 18px;
    border-radius: 0;
}

#serverSearch::placeholder,
#settSearch::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
}

.quickJoin {
    background-color: var(--accent-color);
    border-radius: 0;
}

.partyAvatar {
    border-radius: 0;
}

.jQR {
    background-color: transparent !important;
    color: var(--accent-color) !important;
    box-shadow: none !important;
}

.jQR:hover {
    color: #fff !important;
    box-shadow: none !important;
}

.jQR:active {
    color: #fff !important;
    box-shadow: none !important;
}

.joinQueue {
    background-color: transparent;
    color: var(--accent-color);
    box-shadow: none;
    text-shadow: none;
}

.joinQueue:hover {
    height: 60px;
    margin-top: 10px;
    color: #fff;
    box-shadow: none;
}

.joinQueue:active {
    height: 60px;
    margin-top: 10px;
    color: #fff;
    box-shadow: none;
}

#modDropper {
    background-color: var(--menu-bg-color-secondary);
    border: 4px solid transparent;
}

#loadoutSelect {
    background-color: var(--menu-bg-color-secondary) !important;
    border-radius: 0 !important;
}

.loadoutBtn {
    background-color: transparent;
    color: var(--accent-color);
    font-size: 18px;
}

.classCard {
    background-color: transparent;
    text-shadow: none;
}

.classImgC {
    border-radius: 0;
}

.classXPBar {
    background-color: var(--menu-bg-color-secondary);
    border-radius: 0;
}

.clsXPBarC {
    background-color: var(--accent-color);
}

.skinColorItem {
    border: none;
}

.switch {
    margin-bottom: 0;
}

.slidecontainer {
    margin-top: 3px;
}

.slider {
    border-radius: 0;
    background-color: var(--menu-bg-color-secondary);
}

.slider::before {
    border-radius: 0;
}

input:checked+.slider {
    background-color: var(--accent-color);
}

input:focus+.slider {
    box-shadow: none;
}

.slider2 {
    border-radius: 0;
    background-color: var(--menu-bg-color-secondary);
}

.slider2::before {
    border-radius: 0;
}

input:checked+.slider2 {
    background-color: var(--accent-color);
}

input:focus+.slider2 {
    box-shadow: none;
}

.sliderM {
    border-radius: 0;
    background-color: var(--menu-bg-color-secondary) !important;
}

.sliderM::-webkit-slider-thumb {
    border-radius: 0;
    background: var(--accent-color);
}

.sliderM::-moz-range-thumb {
    border-radius: 0;
    background: var(--accent-color);
}

.sliderSml {
    background-color: var(--menu-bg-color-secondary);
    border-radius: 0;
}

.sliderSml:before {
    background-color: #fff;
    border-radius: 0;
}

input {
    background: var(--menu-bg-color-secondary) !important;
    color: var(--accent-color) !important;
    border-radius: 0 !important;
}

input::placeholder {
    color: rgba(255, 255, 255, .5) !important;
}

input[type=color] {
    border: 4px solid #fff;
    border-radius: 0;
}

input:checked+.sliderSml {
    background-color: var(--accent-color)
}

input:focus+.sliderSml {
    box-shadow: 0 0 1px #2196f3
}

.switchsml {
    margin-bottom: 0;
}

.sliderVal {
    height: 16px;
    font-size: 16px;
    border-radius: 0;
    background: var(--accent-color);
}

.inputGrey {
    background: var(--menu-bg-color-secondary);
    border-radius: 0;
}

.inputGrey2 {
    background: var(--menu-bg-color-secondary);
    border-radius: 0;
}

.smlInput {
    background-color: var(--menu-bg-color-secondary);
    border-radius: 0 !important;
}

.smlInput::placeholder {
    color: rgba(255, 255, 255, .5);
}

.accountInput {
    background-color: var(--menu-bg-color-secondary);
    font-size: 18px;
    border-radius: 0 !important;
}

.accountInput::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
}

.searchBtn {
    background-color: transparent;
    color: var(--accent-color);
}

.accountButton {
    background-color: transparent;
    color: var(--accent-color);
    font-size: 18px;
}

.searchBtn:hover {
    color: #fff;
    filter: grayscale(.3);
    -webkit-filter: grayscale(.3)
}

.subPassChg {
    background-color: transparent;
    color: var(--accent-color);
}

.subPassChg:hover {
    background-color: transparent;
    color: #fff;
    transform: none;
}

.lnkTw {
    background-color: transparent;
    color: var(--accent-color);
}

.lnkTw:hover {
    background-color: transparent;
    color: #fff;
    transform: none;
}

.hostMap {
    border-radius: 0;
    border: none;
}

.hostMapName {
    text-shadow: none;
}

.hostMapYear {
    text-shadow: none;
}

.hostMapVersion {
    text-shadow: none;
}

.hostOpt {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.optName {
    text-shadow: none;
}

.optCheck {
    background-color: var(--menu-bg-color-secondary);
    border-radius: 0;
}

input:checked+.optCheck {
    background-color: var(--accent-color);
}

.hostToggle {
    background-color: transparent;
    color: var(--accent-color);
    font-size: 18px;
}

.hostToggle:hover {
    color: #fff;
}

.hostPresetBtn {
    background-color: transparent;
    color: var(--accent-color);
    font-size: 18px;
}

#presetSelect {
    background-color: var(--menu-bg-color-secondary) !important;
    border-radius: 0 !important;
}

.shopCard {
    border-radius: 0;
    text-shadow: none;
}

.loadMoreD {
    background-color: transparent;
    font-size: 18px;
    color: var(--accent-color);
    border-radius: 0;
}

.loadMoreD:hover {
    background-color: transparent;
    color: #fff;
}

.loadMoreW {
    background-color: transparent;
    font-size: 18px;
    color: var(--accent-color);
    border-radius: 0;
}

#modVote {
    font-size: 18px;
}

.voteHint {
    background-color: transparent !important;
    color: var(--accent-color);
    text-shadow: none;
}

.voteHint:hover {
    color: #fff;
    filter: none;
    -webkit-filter: none;
}

.material-icons.vote {
    font-size: 32px;
}

#mapInfo {
    font-size: 18px;
    text-transform: var(--text-transform);
}


