/* thaddeuz css by youtube.com/@thaddeuz_ */
/* Please credit me if you want to redistribute this code as part of your code. */

/* Updated 20 June 2023 */

  :root {
      --accent-color: #ffffff;
  }
  
  /* fonts */
  
@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}
  
  /* timer */
  
  #timerDisplay {
      background-color: transparent;
  }
  
  #timerVal {
      text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
  }
  
  /* fps */
   
  #fpsDisplay {
      visibility: hidden;
  }
   
  #ingameFPS {
      color: #fff !important;
      text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
      visibility: visible;
  }
  
  /* ping */
  
  #pingText {
      color: #fff !important;
      text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
  }
   
  #pingIcon {
      color: var(--accent-color) !important;
      text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
  }
   
  #pingDisplay .material-icons {
      font-size: 20px;
  }
  
   /* health bar */

  #healthBar {
      width: 280px;
      height: 26px;
      display: flex;
      position: fixed;
      left: calc(50% - 140px);
      bottom: 40px;
      box-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
  }
  
  .healthBarSeg {
      display: flex;
      width: -webkit-fill-available;
      margin: 0 -3.88px;
      background:transparent
  }
  
  .hpBSeg {
      border-radius: 1;
      box-shadow: none;
  }
  
  /* ammo */
  
  #ammoDisplay {
      transform: unset;
      background-color: transparent;
      position: fixed;
      left: calc(50% - 20000px);
      bottom: calc(50% - 20000px);
  }

  #ammoVal {
      color: white;
      font-size: 60px;
      position: fixed;
      left: calc(50% + 170px);
      bottom: 20px;
      text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
  }

 /* scores */

#teamScores {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background: none
}

  .tScoreC.you {
      background-color: #b2f252
  }
  
  .tScoreT {
      color: white;
      font-size: 18px
  }
  
  .tScoreM {
      color: white;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 175px;
      display: inline-block;
      line-height: 28px;
      vertical-align: sub
  }

.tScoreC {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background-color: #eb5656

}

 /* chat */

  .chatItem {
      font-size: 20px;
      padding-right: 5px;
      max-width: 265px;
  }
  
  .chatItem span[style="color:#fc03ec"] {
      color: hotpink !important;
  }

  #chatHolder #chatList  {
      background-color: rgba(0, 0, 0, .075);
  }
  
  #chatInputHolder {
      border: 0px solid rgba(0,0,0,0);
      background-color: transparent   
  }
  
  #chatSwitchHolder {
      display: none
  }
  
  #chatInput {
      margin-left: 0px;
      width: 100%;
      font-size: 20px;
      border: 0px solid rgba(0,0,0,0);
      background-color: transparent
  }
  
  #uiBase.onGame #chatHolder {
      left: 20px;
      bottom: 16px
  }
  
  
  /* modified reizu uwu quake counters */
  .countIcon {
      background-color: transparent;
      border-radius: 0;
      margin-left: 20px;
      margin-bottom: 0;
      padding: 7px;
  }
  
  #deathsVal,
  #killsVal,
  #livesDisp,
  #streakVal,
  #myScoreVal {
      color: white !important;
      bottom: 7px;
      font-size: 32px;
      display: flex;
      justify-content: center;
      text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
  }
  
  #deathsVal::after,
  #killsVal::after,
  #streakVal::after,
  #myScoreVal::after,
  #livesDisp::after {
      margin-left: 5px;
      text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
  }
  
  #deathsVal::after {
      content: 'D';
  }
  
  #killsVal::after {
      content: 'K';
  }
  
  #streakVal::after {
      content: 'S';
  }
  
  #myScoreVal::after {
      content: 'S';
  }
  
  #livesDisp::after {
      content: 'L';
  }
  
  #killsIcon,
  #deathsIcon,
  #streakIcon,
  #scoreCount .material-icons,
  #livesCount .material-icons {
      display: none;
  }

 /* yuki css inspired leaderboard */

#leaderDisplay {
    background-color: white;
    border-radius: 0;
    box-shadow: 8px 8px black;
    margin-right: 12px;
}

.leaderItem {
    font-size: 24px;
}

.leaderCounter, .leaderNameM, .leaderScore {
    color: black;
}

.leaderNameF {
    color: black;
    opacity: 0.5;
}

.leaderNameM span {
  color: black!important;
}

   /* removal */

  #ammoMax,
  #ammoIcon,
  #reloadMsg,
  #hudClassImg,
  #hudClassIcon,
  #healthValue,
  #challIcon,
  #healthValueHolder,
  .weapItem,
  .youNewDiv,
  #updateAdIcon,
  #helpTxtHol,
  #helpTxtHol:hover,
  #newsHolder,
  #timerIcon,
  #aHolder,
  .endAHolder,
  #streamContainer,
  #merchImg,
  #ot-sdk-btn-floating.ot-floating-button,
  #seasonLabel,
  #termsInfo,
  #streamContainer,
  #mapInfoHld,
  #mainLogo,
  #curGameInfo,
  #mainLogoFace,
  #termsInfo, 
  #clientExit,
  #aMerger,
  #rankedSoonTm,
  #newsHolder,
  #youNewDiv,
  #onetrust-consent-sdk,
  .weapKey,
  #aHolder,
  .imageButton,
  #editorBtnM,
  .headerBarRight .verticalSeparator,
  .verticalSeparatorInline,
  #seasonLabel,
  .krSocial,
  #mailCount,
  #voiceDisplay,
  #bubbleContainer,
  .endAHolder,
  #igXPBar,
  .button.small.buttonO img,
  #tlInfHold,
  #loadEditrBtn,
  .settingsBtn[onclick="openOneTrust()"],
  .menuSocialB,
  #menuLevelIcon,
  #menuMiniProfilePic,
  .menuClassPlayerVirus,
  #menuClassSubtext,
  #menuClassName,
  #menuClassIcn,
  #customizeButton .material-icons,
  #policeButton,
  .krSocial,
  .imageButton,
  #editorBtnM {
      display: none !important;
  }

/* menu css */

   /* bottom */

  .button {
      background-color: transparent !important;
  }
  
  #subLogoButtons {
      bottom: 90px;
  }

  .button, .button:hover { 
      border: hidden ! important;
  }

   /* top left top right */

  .headerBarLeft,
  .headerBarRight {
      background-color: transparent;
  }
  
  #menuAccountUsername {
      margin-left: 10px;
      margin-top: 9px;
  }

  .progressBar {
      background-color: rgba(0, 0, 0, 0.15);
  }

  .progressBarInner {
      background-image: linear-gradient(to right,white, lightgrey);
      transition: width 1s ease-in-out;
      border-radius: 0px
  }
  
  #mLevelCont {
      background-color: transparent;
  }

  #menuFPS {
      color: var(--accent-color) !important;
  }
  
  #menuPingIcon {
      color: var(--accent-color) !important;
  }

  #menuPingDisplay .material-icons {
      font-size: 16px;
  }

 /* remove esports cred Krunkitis #7104 */

  .menuItem[onclick*="esports"] {
      display: none !important;
  }

  .menuItem .menuItemTitle {
      margin-top: 0;
      color: var(--accent-color) !important;
      font-size: 18px !important;
      text-transform: var(--text-transform);
      transition: all .2s;
  }

 /* remove colour cred switch css */

  .material-icons-outlined,
  span.material-symbols-outlined.menBtnIcn {
      color: #fff !important
  }

  #menuItemContainer {
      background: transparent
  }

 /* hud class popup cred Krunkitis #7104 */

#menuClassContainer {
    top: unset;
}

#menuClassContainer:hover #classPreviewCanvas {
    transform: unset !important;
}

#classPreviewCanvas {
    transform: translateY(5000000px);
    margin-bottom: -135px;
    margin-right: -113px;
}

.bigShadowT {
    text-shadow: none!important
}

 /* remove click to play */

#instructions {
    animation: none
}

